body {
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 80%;
}

.header {
  display: flex;
  width: 100%;
}

.search-bar-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.search-bar {
  width: 100%;
}

.main-container {
  margin: 50px 0;
  display: flex;
  width: 100%;
}

.category-container {
  min-width: 30%;
  margin-right: 20px;
}

.products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}