body {
  margin: 0;
  background-size: cover;
}

#content {
  width: 80%;
  margin: auto;
}
a {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(75, 150, 85);
  margin-bottom: 5px;
  margin-left:  5px;
  border-radius: 20%;
  overflow: hidden;
  background-color: whitesmoke;
}
a img {
  width: 200px;
  height: 200px;
}

footer {
  height: 30px;
  background-color: #66c96b;
}

h2 {
  color: white;
  font-family: sans-serif;
}

header {
  height: 180px;
  background-color: rgb(8, 172, 49);
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: 'Lobster', cursive;
  border-bottom: 30px solid #2bdd34;
  font-size: 40px;
}